//-- TABLETS IPAD MINILAPTOP --\\
@include mediaSm {
  .grid {
    grid-template-columns: 1fr;
  }
  main#main-content {
    display: flex;
    flex-direction: column-reverse;
    section#right-side,
    aside#left-side {
      height: auto;
      .center {
        width: 90%;
        margin: 5vh auto;
        .btn {
          width: 45%;
        }
      }
      h4 {
        display: none;
      }
    }
    section#right-side {
      overflow: auto;
      figure {
        margin: auto;
        img {
          width: 145px;
        }
      }
      h1 {
        font-size: 2rem;
      }
    }
  }
}
